/* May not work on Safari */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f5f5;
  font-size: 1.4rem;
  text-align: justify;
}

hr {
  width: 25%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  /* Styling borrowed from codepen.io */
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

h3 {
  color: #00334E;
  font-weight: bolder;
}

div {
  font-family: 'Abel', sans-serif;
  color: #145374;
}

/* Title */

#title {
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 0 0 10%;
}

.my-photo {
  float:left;
  margin-right: 2%;
  border-radius: 3%;
}

/* Navigation Bar */

.navbar {
  margin-bottom: 3%;
  background-color: #f6f5f5;
  border-bottom: 1px solid #00334E;
}

.navbar-brand {
  padding-left: inherit;
  font-family: "Major Mono Display";
  font-size: 2.5rem;
}

.navbar-light .navbar-brand {
  color: #00334E;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Abel";
}

/* Containers */

.container-fluid{
  padding: 1% 15%;
}

/* #bio {
  text-align: justify;
} */


/* Footer */
footer {
  margin-top: 25px;
  color: #145374;
  text-align: center;
}

.footer-style {
  width:100%;
  margin-top: 7%;
  border-top: 1px solid #00334E;
}

.social-icon {
  color: #145374;
  font-size: 2.5rem;
  margin: 10px 15px;
}

.social-icon:hover {
  color: #ee6f57;
}

#copyright {
  margin-top: 15px;
  font-size: .8rem;
}

/* Responsiveness */

@media (max-width: 1028px) {

  body {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.5rem
  }

  .nav-link {
    font-size: 2.5rem;
}
  #title {
    text-align: center;
  }

  .my-photo {
   position: static;
   width: 100%
 }
}
